.svg {
  &-area { position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: center;}
  &-icon { flex: 1; padding: 10px; display: flex; justify-content: center; ::ng-deep svg {width: 60px; height: 60px; fill: coral;}}
}
